.filter {
  border: 4px solid #f68038;
  background-color: #f9f9f9;
  &__title {
    padding: 25px 15px 15px 15px;
    color: #286664;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__body {
  }
  &__section {
  }
}

.section-filter {
  padding: 30px 15px;
  border-bottom: 1px solid #f68038;
  &__title {
    color: #286664;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 0 15px 0;
    min-height: 30px;
    display: flex;
    align-items: center;
  }
  &__body {
  }
}
//===================================
.price-filter {
  &__slider {
    height: 4px;
    background-color: #eaeaea;
    margin: 0 11px 50px;
    position: relative;
    &::before,
    &::after {
      content: "";
      background-color: #eaeaea;
      width: 11px;
      height: 4px;
      position: absolute;
      top: 0;
    }
    &::before {
      left: -10px;
    }
    &::after {
      right: -10px;
    }
    .noUi-base,
    .noUi-connects {
      position: relative;
      height: 4px;
    }
    .noUi-origin,
    .noUi-connect {
      will-change: transform;
      position: absolute;
      width: 10%;
      height: 10%;
      z-index: 1;
      top: 0;
      right: 0;
      transform-origin: 0 0;
      transform-style: flat;
    }
    .noUi-connect {
      background-color: #ffcda5;
      width: 100%;
      height: 100%;
    }
    .noUi-handle {
      width: 23px;
      height: 23px;
      position: relative;
      top: -10px;
      right: -11.5px;
      border: 1px solid #f68038;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      &::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 3px;
        top: 3px;
        background-color: #bb4343;
        border-radius: 50%;
      }
    }
    .noUi-tooltip {
      position: absolute;
      bottom: -22px;
      left: 50%;
      color: #999999;
      font-size: 12px;
      font-weight: 300;
      transform: translate(-50%, 0%);
    }
  }
  &__values {
  }
}

.values-price-filter {
    display: flex;
    margin: 0 -15px;
  &__column {
      padding: 0 15px;
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }
  &__label {
      color: #999999;
      font-size: 12px;
      font-weight: 300;
  }
  &__input {
    flex: 1 1 auto;
    padding: 0 0 0 10px;
    .input{
        padding: 0px 10px;
        height: 20px;
        color: #999999;
    }
  }
}
//===================================================
