.mainslider {
  &__body {
  }
  ._swiper {
  }
  &__slide {
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(75, 122, 122, 0.5);
      z-index: 1;
    }
  }
  &__dotts {
    position: relative;
    z-index: 2;
    margin: -27.5px 0px 0 0px;
    display: flex;
    justify-content: center;
    counter-reset: item;
    .swiper-pagination-bullet {
      margin: 0 23px;
      width: 55px;
      height: 55px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #f3f3f3;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        opacity: 0;
        transition: all 0.3s ease 0s;
        color: #fffefe;
        font-size: 16px;
        font-weight: 900;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bb1818;
        counter-increment: item;
        content: counter(item);
        cursor: pointer;
      }
    }
    .swiper-pagination-bullet-active {
      &::after {
        opacity: 1;
      }
    }
  }
}

.content-mainslider {
  padding: 20px 35px 60px 35px;
  &__title {
    color: #333333;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 43px;
    margin: 0 0 50px 0;
    span {
      display: block;
      color: #bb1818;
    }
  }
  &__text {
  }
  &__footer {
    padding: 15px 0 0 0;
    text-align: center;
  }
  &__price {
    padding: 0 0 24px 0;
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    &::after {
      font-size: 30px;
      margin: 0 0 0 10px;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__button {
    height: 33px;
    border: 3px solid #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0 20px;
    span {
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      padding: 0 30px 0 0;
      background: url(../img/icons/btn-arrow.png) right 0 no-repeat;
    }
  }
}

.text-mainslider {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  &__text-1 {
    color: #bb1818;
    font-size: 18px;
  }
  &__text-2 {
    color: #ffffff;
    line-height: 1;
    padding: 5px 10px;
    display: inline-block;
    background-color: #92918e;
  }
  &__text-3 {
    color: #979797;
  }
}

//================================================================= .products-slider

.products-slider {
  &__header {
    margin: 0 0 30px 0;
    @media (min-width: $md3+px) {
      display: flex;
    }
  }
  &__title {
    flex: 1 1 auto;
    color: #dadada;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    @media (max-width: $md3+px) {
      margin: 0 0 15px 0;
    }
  }
  &__control {
    display: flex;
    align-items: center;
  }

  &__info {
    padding: 0 20px;
    color: #999999;
    font-weight: 500;
    .swiper-pagination-current {
      color: #333333;
      font-size: 30px;
      font-weight: 900;
    }
  }
  &__items {
  }
}
//====================================================  .brands-slider
.brands-slider {
  border-top: 3px dashed #dadada;
  border-bottom: 3px dashed #dadada;
  padding: 25px 0;
  &__container {
    position: relative;
  }
  &__body {
    padding: 0 40px;
  }
  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    img {
      @extend %graystyle;
      max-width: 100%;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        @extend %graystyleoff;
      }
    }
  }
  &__arrows {
  }
  &__arrow {
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    &-prev {
      left: 10px;
      right: auto;
      @media (min-width: $md1+px) {
        left: 0;
      }
    }
    &-next {
      right: 10px;
      left: auto;
      @media (min-width: $md1+px) {
        right: 0;
      }
    }
  }
}

._container {
}

.brands-slider__arrow-prev {
}

.brands-slider__arrow-next {
}
//=============================================== .text-block

.text-block {
  &__container {
    @media (max-width: $md2+px) {
      padding: 0;
    }
    @media (max-width: $md3+px) {
      padding: 0;
    }
  }
  &__body {
    padding: 45px 35px 15px 35px;
    background: url(../img/bg-text.jpg) 0 0 repeat;
    background-size: cover;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(75, 122, 122, 0.7);
    }
    @media (max-width: $md2+px) {
      padding: 25px 20px 15px 20px;
    }
  }
  &__title {
    color: #ffffff;
    font-family: "uni";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin: 0 0 28px 0;
    position: relative;
    z-index: 1;
  }
  &__row {
    @media (min-width: $md2+px) {
      display: flex;
      margin: 0 -30px;
    }
  }
  &__column {
    color: #fff;
    position: relative;
    margin: 0 0 30px 0;
    @media (min-width: $md2+px) {
      padding: 0 30px;
      flex: 0 1 50%;
    }
    p {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      margin: 0 0 20px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__label {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 5px 0;
  }
  &__list {
    li {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.3px;
      margin: 0 0 5px 0;
      &:last-child {
        margin: 0 0 0 0;
      }
      &::before {
        content: "";
        margin: 0 17px 0 7px;
        display: inline-block;
        width: 11px;
        height: 12px;
        background: url(../img/icons/li-arrow.png) left no-repeat;
      }
      @media (max-width: $md1+px) {
        br {
          display: none;
        }
      }
    }
  }
  &__imge {
    position: absolute;
    right: -8px;
    bottom: -140px;
    @media (max-width: $md1+px) {
      display: none;
    }
  }
}
