//====================================================================================================

.mainslider {
  &__body {
  }
  ._swiper {
  }
  &__slide {
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__dotts {
    position: relative;
    z-index: 2;
    margin: -27.5px 0px 0 0px;
    display: flex;
    justify-content: center;
    counter-reset: item;
    .swiper-pagination-bullet {
        margin: 0 23px;
      width: 55px;
      height: 55px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #f3f3f3;
      position: relative;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 &::after{
     opacity: 0;
     transition: all 0.3s ease 0s;
    color: #fffefe;
    font-size: 16px;
    font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bb1818;
   counter-increment: item;
   content:  counter(item);
   cursor: pointer;
}
    }
    .swiper-pagination-bullet-active {
        &::after{
            opacity: 1;
        }
    }
  }
}

.content-mainslider {
  padding: 20px 35px 60px 35px;
  &__title {
    color: #333333;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 43px;
    margin: 0 0 50px 0;
    span {
      display: block;
      color: #bb1818;
    }
  }
  &__text {
  }
  &__footer {
    padding: 15px 0 0 0;
    text-align: center;
  }
  &__price {
    padding: 0 0 24px 0;
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    &::after {
      font-size: 30px;
      margin: 0 0 0 10px;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__button {
    height: 33px;
    border: 3px solid #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0 20px;
    span {
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      padding: 0 30px 0 0;
      background: url(../img/icons/btn-arrow.png) right 0 no-repeat;
    }
  }
}

.text-mainslider {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  &__text-1 {
    color: #bb1818;
    font-size: 18px;
  }
  &__text-2 {
    color: #ffffff;
    line-height: 1;
    padding: 5px 10px;
    display: inline-block;
    background-color: #92918e;
  }
  &__text-3 {
    color: #979797;
  }
}

//====================================================================================================
